body {
    background-color: rgb(11, 11, 11);
}

#f1Text{
    color: white;
    font-size: 50px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 300px;
    margin-top: -70px;
}

#race {
    color: white;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#races {
    margin-top: 20px;
    margin-left: 35%;
}