body{
    background-color: black;
    overflow: hidden;
}

#MainNavBar{
    border-width: 0px;
    width: 50px;
    height: 100%;
}

#MainNavBarLine {
    background-color: rgb(20, 20, 20);
    width: 1px;
    height: 130%;
    margin-left: 60px;
    margin-top: -60%;
}

#HomeFRAME {
    border: 0px;
    width: 100%;
    height: 101.2%;
    margin-left: 61px;
    margin-top: -48.1%;
}

